@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Single+Day&display=swap');

/* 초기화 코드 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
	font-family: 'Single Day', cursive;
}